node_modules
population/variation/bower_components
ne_10m_admin_1_states_provinces.*
.DS_Store
population/age/bower_components
maps/
houseless/data
population/density/data
population/density_old
jobless/data
literacy/data
election/data
nifty/data
aum/data
notes.txt
.cache
tax/data/*.csv
tax/dist/*
!tax/dist/index.js
daily_aum/data
daily_aum/funds.json
daily_aum/data.json
daily_aum/dist/*
!daily_aum/dist/index.js
