body {
    width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: saddlebrown;
}

a.source {
    float: right;
    color: #999;
    font-size: 14px;
}

a.source:hover {
    color: #333;
}

img.thumb {
    width: 960px;
    box-sizing: border-box;
    height: 200px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

img.thumb:hover {
    border: 1px solid #aaa;
}
