:focus {
    outline: 0;
}

body {
    font-weight: normal;
    font-size: 14px;
}

svg {
    display: block;
    margin: 0 auto;
}

/* slider */
.axis {
    font: 9px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.x.axis .domain {
    fill: none;
    stroke: #bbb;
    stroke-width: 6px;
    stroke-linecap: round;
}

.x.axis .halo {
    fill: none;
    stroke: #eee;
    stroke-width: 4px;
    stroke-linecap: round;
}

.y.axis .domain {
    display: none;
}

.axis .tick line {
    stroke: #aaa;
}

.axis .tick text {
    fill: #aaa;
}

.axis .tick.selected text {
    fill: #333;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: ew-resize;
}

.bar {
    fill: #e0e0e0;
}

/* tooltip */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(124, 181, 236, 0.8);
    border: 1px solid rgb(124, 181, 236);
    color: white;
    opacity: 0.3;
    border-radius: 2px;
    pointer-events: none;
    margin-top: -5px;
}

.d3-tip.bar-tip {
    padding: 6px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 9px;
    width: 100%;
    line-height: 1.3;
    color: rgba(124, 181, 236, 0.8);
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

.state {
    fill: #ddd;
    stroke: white;
}

.legend circle {
    fill: none;
    stroke: rgb(124, 181, 236);
}

.legend text {
    fill: #777;
    font: 10px sans-serif;
    text-anchor: middle;
}
