:focus {
    outline: 0;
}

body {
    font-weight: normal;
    font-size: 14px;
}

header {
    text-align: center;
    font: 18px sans-serif;
    color: saddlebrown;
    margin: 10px 0;
}

.current-state {
    text-anchor: middle;
    font: 16px sans-serif;
    fill: saddlebrown;
}

.gender {
    font-size: 16px;
    fill: #333;
    text-anchor: middle;
}

svg {
    display: block;
    margin: 0 auto;
}

path.male, path.female {
    fill: none;
    stroke-width: 1.5px;
    stroke: #bbb;
}

path.male.selected, path.female.selected {
    stroke: #000;
}

.axis path.domain {
    fill: none;
    stroke: #333;
}

.axis .tick text {
    fill: #333;
    font-size: 12px;
    font-family: serif;
}

.axis .tick line {
    stroke: #333;
}


.voronoi path {
    fill: none;
}
